.fondoLogSign {
    background-color: #B8D0D9;
    background-image: url('./../img/fondoLogIn.png');
    min-height: 100vh; /*100% of the viewport height (totalidad del navegador)*/
    display: flex;  /*flex box - diseñado para que automaticamente estire la "caja" que yo quiera, en este caso ".fondoLogSign"*/
    flex-direction: column; /*En vertical ordena lo que le ponga internamente*/
    justify-content: center; /*Me lo justifica segun el eje que definí arriba (eje principal) podría no ponerlo y modificar el margin-top despues*/
    align-items: center;  /*Me lo justifica segun el eje secundario (row en este caso)*/
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------------------inicio contenedor de Log In---------------------------------------------*/

  .fondoLogSign .contenedor .login{
    width: 100%;
    height: 265px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    margin-bottom: 10px;
    box-shadow:20px 20px 50px #839cac; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.contenedor .fil1 #titleLogIn{
    margin-top: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
}

.fondoLogSign .contenedor .login #docid{
    width: 80%;
    height: 49px;

    background: #FFFFFF;
    border: 3px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 25px;

    margin-bottom: 10px;

}

.fondoLogSign .contenedor .login #pass{
    height: 49px;
    width: 80%;

    background: #FFFFFF;
    border: 3px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 25px;

    margin-bottom: 10px;
}

.fondoLogSign .contenedor .login #sub{
    background-color: #4F7E9B;
    color:white;

    Width : 114px;
    Height : 25px;
    border-radius: 10px;
    flex-grow: 3;
    background-position: right;

}

/*---------------------------------------------inicio contenedor de Sign Up---------------------------------------------*/

.fondoLogSign .contenedor .signup{
    width: 100%;
    height: 150px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    text-align: center;
    box-shadow:20px 20px 50px #839cac;
}

.contenedor .fil2 #titleSignup{
    margin-top: 12px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.contenedor .fil2 #textSignup{
    margin-top: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    
    color: #FFFFFF;
}

.fondoLogSign .contenedor .signup .buttonSignUp{
    background-color: #4F7E9B;
    width: 209px;
    height: 25px;
    border-radius: 10px;
    margin-top: 12px;
    color: white;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 12px;

    transition: box-shadow .3s; /*Para habilitar el hover*/
    
}

.fondoLogSign .contenedor .signup .buttonSignUp:hover {
    box-shadow: 0 0 11px #388ec4;

}

/*---------------------------------------------inicio media querys---------------------------------------------*/

@media (min-width: 768px) {
    .fondoLogSign .contenedor{
        margin-top: 180px;
    }
}

@media (max-width: 768px) {
    .fondoLogSign{
        background-image: url('./../img/fondoLogIn_celu.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .fondoLogSign .contenedor{
        margin-top: 100px;
    }
}