.fondoLogSign{
    background-image: url('./../img/fondoLogIn.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
    margin: 3px auto 0;
    position: relative;
}

.fondoLogSign .login{
    width: 100%;
    height: 265px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    margin-bottom: 10px;
}

.fondoLogSign .signup{
    width: 100%;
    height: 150px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

@media (min-width: 768px) {
    .fondoLogSign .fil1{
        margin-top: 250px;
        /*top:250px;*/
    }
}

@media (max-width: 768px) {
    .fondoLogSign {
        background-image: url('./../img/fondoLogIn_celu.jpeg');
        background-size: 100%;
    }
    .fondoLogSign .fil1{
        position: relative;
        top:180px;
    }
}

