*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.medio{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./../img/DrOscuro.jpg);
}

.medio .textoInicio{
    font-family: "Poppins", italic;
    margin: 200px;
    color: white;
}

.medio .textoInicio .negrita{
    font-size: 70px;
}

.medio .textoInicio .negrita span{
    font-size: 50px;
}

.pasos{
    background-color: rgb(139, 205, 230);
}

.pasos .paso-individual{
    padding: 40px 30px;
}

.pasos .paso-individual .icon{
    text-align: center;
}

.pasos .paso-individual .icon img {
    width: 100px;
    
}

.pasos .paso-individual .letras{
    text-align: center;
}

.pasos .paso-individual h3{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.pasos .paso-individual span{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
}

.pasos .col-xl-4:nth-child(2) .paso-individual {
    background: rgb(94, 172, 201);
}

.copy-right_text {
    padding-bottom: 5px;
    background: rgb(255, 255, 255);
}

.copy-right_text .copy_right {
    font-size: 16px;
    color: #04ADBF;
    margin-bottom: 0;
    font-weight: 400;
    }

.text-center{
    text-align: center;
}

.p-covid{
    width: 100%;
    height: auto;
}

.p-0{
    padding: 0;
}

.social-media-links{
    margin-top: 25px;
}

.sobreNosotros h1{
    margin-top: 50px;
    font-family: Roboto, regular;
}

.sobreNosotros span{
    font-family: Roboto, thin;
}

.redes{
    display: inline;
    margin: 25px;
    font-size: 2em;
}

@media (min-width: 991px) {
    .medio{height: 80%;}
    .medio .textoInicio{margin: 150px;} 
    .sobreNosotros h1{font-size: 35px;}
    .sobreNosotros span{font-size: 25px;}
}

@media (max-width: 991px) {
    .medio{height: 75%;}
    .medio .textoInicio{margin: 75px;}
    .medio .textoInicio .negrita{font-size: 60px;}
    .medio .textoInicio .negrita span{font-size: 45px;}
    
}
@media (max-width: 768px) {
    .medio{height: 50%;}
    .medio .textoInicio{margin: 40px;}
    .medio .textoInicio .negrita{font-size: 50px;}
    .medio .textoInicio .negrita span{font-size: 35px;}
}

@media (max-width: 578px) {
    .medio{height: 50%;}
    .medio .textoInicio{margin: 30px;}
    .medio .textoInicio .negrita{font-size: 40px;}
    .medio .textoInicio .negrita span{font-size: 25px;}
    .sobreNosotros h1{font-size: 30px;}
    .sobreNosotros span{font-size: 20px;}
    
  }

