.page-container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.calendar-desktop {
	height: 100%;
	width: 100%;
	display: block;
}
.calendar-mobile {
	height: 100%;
	width: 100%;
	display: none;
}
@media (max-width: 991px) {
	.calendar-desktop {
		display: none;
	}
	.calendar-mobile {
		display: flex;
		flex-direction: column;
	}
}

.main-container {
	height: 100%;
}

.turnos-container-margin {
	height: 100%;
	padding: 15px;
	min-height: 300px;
}
.turnos-container-margin .turnos-container {
	height: 100%;
	padding-bottom: 15px;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #D4ECF3;
}

.turnos-container-margin .turnos-container .turnos-title {
	width: fit-content;
	padding: 0px 60px;
	margin: 15px auto 0px auto;

	border-radius: 25px;
	background-color: #6D96A6;
	
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	color: white;
}

.main-container .calendar-container {
	padding-bottom: 15px;
}

@media (max-width: 991px) {
	.main-container .turnos-container-margin {
		height: fit-content;
		padding: 0;
	}
	.main-container .turnos-container{
		border-radius: 0px;
	} 
	.main-container .calendar-container {
		padding-top: 15px;
	}
	.calendar-container {
		font-size: 12px;
	}
	.calendar-container button {
		padding: 4px !important;
	}
	.calendar-container h2 {
		font-size: 15px !important;
	}
}

.calendar-row {
	height: 50%;
	padding-bottom: 15px;
}

.turnos-row{
	height: 50%;
}

.calendar-container a {
	color: #4C4E82
}

.calendar-container .fc-non-business {
	background-color: #90909030;
}

.turnos-detail {
	height: 100%;
	position: relative;
	font-weight: bold;
	font-size: 18px;
	color: white;
	padding: 10px;
}

.turnos-detail .aceptar {
	position: absolute;
	left: 20;
	right: 20;
	bottom: 0;
	margin: auto;
	padding: 2px 70px;
	background-color: white;
	border-radius: 25px;
	font-weight: bold;
	font-size: 18px;
	color: #4C4E82;
	outline: none;
}