.body{
    box-sizing: border-box;
}
.header-area {
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9;
}

.header-area .header-top_area {
    padding: 5px;
    background: #D8EBF2;
}

.header-area .header-top_area .cerrarSesion a{
    font-size: 10px;
    background-color: #ffffff;
    color: #2E4559;
    opacity: 50%;
    float: right;
    text-decoration: none;
    padding: 6px 13px;
    font-weight: 700;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
}

.header-area .header-top_area .usuario a{
    text-decoration: none;
    color: #A2A2A2;
    font-family: 'Roboto', bold;
}

.header-area .header-top_area .cerrarSesion a:hover {
    background-color: #2E4559;
    color: #ffffff;
}



.header-area .main-header-area {
    padding: 18px;
    background: #fff;
    z-index: 99;
}

.header-area .main-header-area img{
    width: 200px;
}

.header-area .main-header-area .toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.header-area .main-header-area .toolbar ul li{
    display: inline;
    margin: 20px;

}
  
.header-area .main-header-area .toolbar ul li a {
    color: #A2A2A2;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-decoration: none;
  }
  
.header-area .main-header-area .toolbar ul li a:hover {
    color: rgb(70, 70, 70);
}

.header-area .main-header-area .toolbar ul li a:hover {
    color: rgb(70, 70, 70);
}
  
.header-area .main-header-area .toolbar ul li .submenu {
    position: absolute;
    left: 0;
    top: 160%;
    background: #fff;
    width: 200px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
    opacity: 0;
    visibility: hidden;
    text-align: left;
    transition: 0.3s;
}

.header-area .main-header-area .toolbar ul li:hover .submenu {
    opacity: 1;
    visibility: visible;
    top: 150%;
}

.header-area .main-header-area .toolbar ul li .submenu li a {
    padding: 10px 15px;
    transition: 0.3s;
    display: block;
    color: #A2A2A2;
}

.header-area .main-header-area .toolbar ul li .submenu li a:hover{
    color: rgb(80, 80, 80);
}


.header-area .main-header-area .pedirTurno a{
    font-size: 15px;
    background-color: #04ADBF;
    color: #ffffff;
    float: right;
    text-decoration: none;

    width: 100%;
    font-weight: 700;
    border-radius: 4px;
    text-align: center;
    border: 1px solid transparent;
    
}

.header-area .main-header-area .pedirTurno a:hover {
    background-color: #ffffff;
    border-color: #04ADBF;
    color: #04ADBF;
}

.header-area .main-header-area .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #D8EBF2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

  
.header-area .main-header-area .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
.header-area .main-header-area .sidebar a:hover {
    color: #3b3b3b;
  }
  
.header-area .main-header-area .sidebar .fa-times-circle {
    color: #818181;
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 25px;
}
  
.header-area .main-header-area #main a {
    font-size: 30px;
    cursor: pointer;
    
    color: #2E4559;
    padding: 10px 15px;
    border: none;
    float: right;
    cursor: pointer;
  }
  
.header-area .main-header-area #main a:hover {
    color: rgb(94, 115, 122);
  }
  
.header-area .main-header-area .sidebar a i {
    font-size: 15px;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.sticky{
    position: fixed;
    width: 100%;
    top: 0;
}

.margen{
    margin-top: 95px;
}

.medio{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /*background-image: url(./../img/DrOscuro.jpg);*/
}


.medio .textoInicio{
    font-family: "Poppins", italic;
    margin: 200px;
    color: white;
}

.medio .textoInicio h3{
    font-size: 70px;
}

.medio .textoInicio h3 span{
    font-size: 50px;
}

@media (max-width: 1200px) {
    .medio .textoInicio{margin: 150px;} 
}

@media (max-width: 991px) {
    .medio .textoInicio{margin: 75px;}
    .medio .textoInicio h3{font-size: 60px;}
    .medio .textoInicio h3 span{font-size: 45px;}
    
}
@media (max-width: 768px) {
    .medio .textoInicio{margin: 30px;}
    .medio .textoInicio h3{font-size: 60px;}
    .medio .textoInicio h3 span{font-size: 45px;}
}

@media (max-width: 578px) {
    .medio .textoInicio{margin: 30px;}
    .medio .textoInicio h3{font-size: 50px;}
    .medio .textoInicio h3 span{font-size: 35px;}
    
  }

.pasos{
    background-color: rgb(139, 205, 230);
}
 
.pasos .p-0{
    padding: 0;
}

.pasos .p-0 .no-margin{
    margin: 0;
}

.pasos .p-0 .no-margin .paso-individual{
    padding: 40px 30px;
}

.pasos .p-0 .no-margin .paso-individual .icon{
    text-align: center;
}

.pasos .p-0 .no-margin .paso-individual .icon img {
    width: 100px;
    
}

.pasos .p-0 .no-margin .paso-individual .letras{
    text-align: center;
}

.pasos .p-0 .no-margin .paso-individual h3{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.pasos .p-0 .no-margin .paso-individual span{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
}

.pasos .col-xl-4:nth-child(2) .paso-individual {
    background: rgb(94, 172, 201);
    height: 100%;
}

.copy-right_text {
    padding-bottom: 5px;
    background: rgb(255, 255, 255);
}

.copy-right_text .copy_right {
    font-size: 16px;
    color: #04ADBF;
    margin-bottom: 0;
    font-weight: 400;
    }
.text-center{
    text-align: center;
}
